@import 'cfg/variables';
@import 'cfg/mixin';
@import 'cfg/fonts';

* {
    box-sizing: border-box;
}

body,
html {
    @include clearStyles;
    min-width: $minWidth;
    font-size: $fontSizeNormal;
    font-family: 'Open Sans', sans-serif;
    font-weight: $fontWeightNormal;
    background-color: $whiteColor;
    color: $blackColor;
}

.container {
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 50px;
    @media only screen and (max-width: 1366px) {
        padding: 0 35px;
    }

    @media only screen and (max-width: 1024px) {
        padding: 0 72px;
    }

    @media only screen and (max-width: 768px) {
        padding: 0 12px;
    }
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-product-item {
    padding-top: 75px;
    position: relative;
    background-color: $greyLightColor;
    border-radius: 10px;
    text-align: center;
    width: 296px;
    min-height: 420px;
    height: 420px;
    &-rate {
        position: absolute;
        text-align: center;
        top: 16px;
        left: 30px;
        padding-left: 22px;
        background-image: url('../img/sprite.svg#rate');
        background-size: 200%;
        background-position: -37px 2px;
        background-repeat: no-repeat;
        color: $secondaryColor;
    }
    &-description {
        width: 237px;
        position: absolute;
        bottom: 29px;
        left: 30px;
        text-align: left;
        &-name {
            @include clearStyles;
            margin-bottom: 23px;
            &-link {
                @include stylesForLink;
                color: $blackColor;
                font-size: 24px;
                line-height: 31px;
                font-weight: normal;
            }
        }
        &-price {
            @include clearStyles;
            margin-bottom: 25px;
            font-size: 16px;
            color: $greyShadeColor;
        }
        &-btn {
            @include buyButtonStyles;
        }
    }
    &-card {
        height: 118px;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }
    @media only screen and (max-width: 1366px) {
        width: 100%;
        min-width: 140px;
    }
    @media only screen and (max-width: 768px) {
        padding-top: 54px;
        min-height: 279px;
        height: unset;
        &-card {
            height: unset;
            display: block;
        }
        &-rate {
            font-size: 12px;
            top: 6px;
            left: 14px;       
            background-position: -30px -1px;             
        }
        &-img {
            width: 108px;
            height: 33px;
        }
        &-description {
            width: 140px;
            padding: 16px 16px 12px;
            position: unset;
            &-name {
                margin-bottom: 18px;
                &-link {
                    font-size: 16px;
                    line-height: 18px;
                }
            }
            &-price {
                margin-bottom: 18px;
            }
            &-btn {
                padding: 9px 25px;
            }
        }
    }
}

.navigation {
    font-size: 14px;
    color: $greyColor;
    &-link {
        @include stylesForLink;
        margin-right: 5px;
        color: $greyColor;
        &:last-child {
            color: $primaryShadeColor;
        }
    }
    @media only screen and (max-width: 1366px) {
        &-link {
            margin-right: 2px;
        }
    }
    @media only screen and (max-width: 768px) {
        display: none;
    }
}