.header {
    &__top-row {
        padding: 16px 0;
        background-color: $greyLightColor;
        &-content {
            display: grid;
            grid-template-columns: 372px 710px;
            align-items: center;
            justify-content: space-between;
        }
        &-left-column {
            display: grid;
            grid-template-columns: 178px 160px;
            align-items: center;
            justify-content: space-between;
        }
        &-region {
            position: relative;
            display: grid;
            grid-column-gap: 5px;
            grid-template-columns: 100px 83px;
            &-text {
                @include clearStyles;
            }
            .choices {
                &__inner {
                    padding: 0;
                    padding-bottom: 0 !important;
                    min-height: 0;
                    color: $primaryColor;
                    border: none;
                    background-color: transparent;
                    transition: color .2s ease, background .2s ease;
                }
                &__item-header-top {
                    font-size: 16px;
                   &.choices__item--choice {
                        font-size: 14px;
                        padding: 0 16px;
                        &:not(:last-child) {
                            margin-bottom: 11px;
                        }
                    }
                }
                &__list {
                    &--dropdown {
                        .choices__list-header-top {
                            padding: 16px 0;
                            max-height: 114px;
                        }
                        .choices__item--selectable {
                            padding-right: 0;
                            &.is-highlighted {
                                background-color: transparent;
                            }
                        }
                    }
                    &--single {
                        padding: 0;
                    }
                }
                &:hover {
                    .choices__inner {
                        color: $primaryLightColor;
                    }
                    &::after {
                        border-color: transparent transparent $primaryLightColor $primaryLightColor;
                    }
                }
                &:focus {
                    .choices__inner {
                        background-color: $pinkVioletColor;
                        outline: none;
                    }
                    &::after {
                        border-color: transparent transparent $primaryShadeColor $primaryShadeColor;
                    }
                }
                &:active {
                    .choices__inner {
                        background-color: unset;
                        color: $primaryShadeColor;
                    }
                    &::after {
                        border-color: transparent transparent $primaryShadeColor $primaryShadeColor;
                    }
                }
                &::after {
                    right: 13.5px;
                    top: 39%;
                    width: 3px;
                    height: 3px;
                    border-width: 2px;
                    border-color: transparent transparent $primaryColor $primaryColor;
                    transform: rotate(-45deg);
                    transition: border .2s ease;
                }
                &.is-open {
                    &::after {
                        border-color: $primaryColor $primaryColor transparent transparent;
                        top: 90%;
                    }
                }
            }
        }
        &-tel {
            @include stylesForLink;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: $secondaryColor;
            transition: color .2s ease;
            #phone-svg {
                transition: fill .2s ease;
            }
            &:hover {
                #phone-svg {
                    fill: $secondaryLightColor;
                }
                color: $secondaryLightColor;
            }
            &:focus {
                #phone-svg {
                    fill: $secondaryColor;
                }
                outline: none;
                background-color: $boneColor;
            }
            &:active {
                #phone-svg {
                    fill: $secondaryShadeColor;
                }
                background-color: unset;
                color: $secondaryShadeColor;
            }
        }
        &-list {
            @include stylesForList;
            display: grid;
            grid-template-columns: 84px 134px 182px 118px;
            grid-column-gap: 64px;
            &-item {
                &-link {
                    @include stylesForMainLink;
                    font-size: 14px;
                    color: $greyColor;
                }
            }
        }
    }
    &__bot-row {
        padding: 30px 0;
        &-logo {
            cursor: pointer;
            &-link {
                margin-right: 141px;
                #logo-svg-container {
                    transition: opacity .2s ease;
                }
                &:hover {
                    #logo-svg-container {
                        opacity: .5;
                    }
                }
            }
        }
        &-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            grid-row-gap: 30px;
        }
        &-list {
            @include stylesForList;
            display: flex;
            &-item {
                transition: opacity .2s ease;
                &-link {
                    @include stylesForMainLink;
                    color: $blackColor;
                }
                &:hover {
                    opacity: .5;
                }
                &:not(:last-child) {
                    margin-right: 92px;
                }
            }
        }
        &-form {
            position: relative;
            margin-right: 123px;
            display: grid;
            grid-template-columns: 1fr 300px;
            align-items: center;
            &-input {
                &-container {
                    position: relative;
                    #search-svg-container {
                        position: absolute;
                        top: 19px;
                        left: 32px;
                    }
                }
                @include stylesForMainInput;
                width: 760px;
                padding: 19px 57px;
                border-radius: 10px 0px 0px 10px;
            }
            &-search-btn {
                @include stylesForBtnArrow;
                position: absolute;
                top: 13px;
                right: 30px;
            }
            .choices {
                &__inner {
                    padding: 16px 27px !important;
                    min-height: 0;
                    color: $primaryColor;
                    border: 2px solid $greyLightColor;
                    border-radius: 0px 10px 10px 0px;
                    color: $primaryColor;
                    background-color: transparent;
                    transition: color .2s ease, border .2s ease;
                }
                &__item-header-bot {
                    font-size: 16px;
                   &.choices__item--choice {
                       width: 50%;
                    }
                }
                &__list {
                    &--dropdown {
                        cursor: default;
                        z-index: 2;
                        .choices__list-header-bot {
                            display: flex;
                            flex-wrap: wrap;
                            padding: 30px;
                            min-height: 194px;
                        }
                        .choices__item--selectable {
                            padding-right: 0;
                            transition: color .2s ease;
                            &.is-highlighted {
                                background-color: transparent;
                            }
                            &:hover {
                                color: $primaryColor;
                            }
                        }
                    }
                  
                }
                #choices--selectCategory-item-choice-3 {
                    display: none;
                }
                &:hover {
                    .choices__inner {
                        border-color: $primaryColor;
                    }
                }
                &:focus {
                    .choices__inner {
                        outline: none;
                        border-color: $primaryColor;
                        background-color: $pinkLightColor;
                    }
                }
                &:active {
                    .choices__inner {
                        border-color: $primaryShadeColor;
                    }
                }
                &::after {
                    right: 35.5px;
                    top: 45%;
                    width: 3px;
                    height: 3px;
                    border-width: 2px;
                    border-color: transparent transparent $primaryColor $primaryColor;
                    transform: rotate(-45deg);
                    transition: border .2s ease;
                }
                &.is-open {
                    &::after {
                        border-color: $primaryColor $primaryColor transparent transparent;
                        top: 60%;
                    }
                }
            }
        }
        &-account {
            display: flex;
            &-enter {
                @include stylesForButton;
                margin-right: 25px;
                #login-svg {
                    transition: fill .2s ease;
                }
                &:hover {
                    #login-svg {
                        fill: $primaryLightColor;
                    }
                }
                &:focus {
                    #login-svg {
                        fill: $whiteColor;
                    }
                    outline: none;
                    background-color: $primaryLightColor;
                }
                &:active {
                    #login-svg {
                        fill: $primaryShadeColor;
                    }
                    background-color: unset;
                }
            }
            &-cart {
                @include stylesForButton;
                position: relative;
                display: flex;
                align-items: center;
                &-count {
                    width: 15px;
                    height: 15px;
                    padding-top: 3px;
                    border-radius: 50%;
                    background-color: $secondaryColor;
                    color: $whiteColor;
                    font-size: 10px;
                    font-weight: normal;
                }
                #cart-svg {
                    transition: fill .2s ease;
                }
                &:hover {
                    #cart-svg {
                        fill: $primaryLightColor;
                    }
                }
                &:focus {
                    outline: none;
                    background-color: $primaryLightColor;
                    #cart-svg {
                        fill: $whiteColor;
                    }
                }
                &:active {
                    background-color: unset;
                    #cart-svg {
                        fill: $primaryShadeColor;
                    }
                }
            }
        }
    }
    .hamburger {
        display: none;
        padding: 0;
        &-box {
            width: 24px;
        }
        &-inner {
            width: 24px;
            background-color: $primaryColor;
            &::before,
            &::after {
                width: 24px;
                background-color: $primaryColor;
            }
        }
        &.is-active {
            .hamburger-inner {
                &::before,
                &::after {
                    background-color: $primaryColor;
                }
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    .header {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 58px;
            left: 0;
            width: 100%;
            height: 50px;
            background-color: $greyLightColor;
        }
        &__top-row {
            position: relative;
            background-color: unset;
            padding: 20px 0;
            &-content {
                display: block;
            }
            &-left-column {
                margin-bottom: 35px;
                grid-template-columns: 178px 141px;
            }
        }
        &__bot-row {
            &-logo {
                &-link {
                    margin-right: 64px;
                }
            }
            &-content {
                justify-content: space-between;
                grid-row-gap: 28px;
            }
            &-list {
               &-item {
                   &:not(:last-child) {
                       margin-right: 41px;
                   }
               }
            }
            &-account {
                position: absolute;
                top: 69px;
                right: 38px;
            }
            &-form {
                &-input {
                    width: 653px;
                }
                &-list {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        &__top-row {
            &-list {
                justify-content: space-between;
                grid-column-gap: 35px;
            }
        }
        &__bot-row {
            &-list {
                &-item {
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                    &-link {
                        @include stylesForMainButton;
                        padding: 19px !important;
                        display: inline-block;
                        width: 200px;
                        text-align: center;
                    }
                }
                display: none;
                &.list-active {
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding-top: 60px;
                    z-index: 4;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 50%;
                        z-index: 1;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        backdrop-filter: blur(5px);
                        z-index: -1;
                    }
                }
            }
            &-content {
                grid-template-columns: 26px 1fr;
            }
            &-account {
                top: 139px;
                right: 74px;
            }
            &-logo-link {
                margin: 0 auto;
            }
            &-form {
                width: 100%;
                margin-right: 0;
                grid-template-columns: 1fr 191px;
                &-input {
                    width: 100%;
                }
                &-list {
                    height: fit-content;
                    grid-row-gap: 10px;
                }
            }

        }
        .hamburger {
            display: block;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        &::before {
            top: 0;
        }
        &__top-row {
            padding-top: 69px;
            padding-bottom: 10px;
            &-region {
                margin-bottom: 19px;
            }
            &-left-column {
                display: block;
                margin-bottom: 0;
            }
            &-right-column {
                display: none;
            }
        }
        &__bot-row {
            padding-top: 22px;
            padding-bottom: 30px;
            &-logo {
                &-link {
                    width: 100%;
                    position: absolute;
                    top: 12px;
                    left: 0;
                    #logo-svg-container {
                        margin: 0 auto;
                        display: block;
                    }
                }              
            }
            &-account {
                top: 154px;
                right: 11px;
            }
            &-form {
                display: block;
                &-input {
                    width: 100%;
                    margin-bottom: 15px;
                    border-radius: 10px;
                }
                .choices__inner {
                    border-radius: 10px;
                }
            }
            &-content {
                grid-row-gap: 31px;
            }
            .hamburger--spring {
                padding-left: 4px;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 48px;
                border-color: $greyLightColor;
                border-style: solid;
                border-top: 1px;
                border-bottom: 1px;
            }
        }
    }
}