@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v20-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/open-sans-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v20-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/playfair-display-v22-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/playfair-display-v22-latin_cyrillic-900.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #FFF;
  color: #333;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 50px;
}

@media only screen and (max-width: 1366px) {
  .container {
    padding: 0 35px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 72px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 12px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-product-item {
  padding-top: 75px;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 10px;
  text-align: center;
  width: 296px;
  min-height: 420px;
  height: 420px;
}

.main-product-item-rate {
  position: absolute;
  text-align: center;
  top: 16px;
  left: 30px;
  padding-left: 22px;
  background-image: url("../img/sprite.svg#rate");
  background-size: 200%;
  background-position: -37px 2px;
  background-repeat: no-repeat;
  color: #FF862F;
}

.main-product-item-description {
  width: 237px;
  position: absolute;
  bottom: 29px;
  left: 30px;
  text-align: left;
}

.main-product-item-description-name {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.main-product-item-description-name-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
  font-size: 24px;
  line-height: 31px;
  font-weight: normal;
}

.main-product-item-description-price {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 16px;
  color: #666;
}

.main-product-item-description-btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 17px 35px;
  border: 1px solid #A65CF0;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  color: #A65CF0;
  -webkit-transition: color .2s ease, background .2s ease;
  transition: color .2s ease, background .2s ease;
}

.main-product-item-description-btn:hover {
  color: #FFF;
  background-color: #A65CF0;
}

.main-product-item-description-btn:focus {
  outline: none;
  color: #FFF;
  background-color: #C998FB;
}

.main-product-item-description-btn:active {
  color: #FFF;
  background-color: #7033AC;
}

@media only screen and (max-width: 1366px) {
  .main-product-item-description-btn {
    padding: 17px 36px;
  }
}

.main-product-item-card {
  height: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 1366px) {
  .main-product-item {
    width: 100%;
    min-width: 140px;
  }
}

@media only screen and (max-width: 768px) {
  .main-product-item {
    padding-top: 54px;
    min-height: 279px;
    height: unset;
  }
  .main-product-item-card {
    height: unset;
    display: block;
  }
  .main-product-item-rate {
    font-size: 12px;
    top: 6px;
    left: 14px;
    background-position: -30px -1px;
  }
  .main-product-item-img {
    width: 108px;
    height: 33px;
  }
  .main-product-item-description {
    width: 140px;
    padding: 16px 16px 12px;
    position: unset;
  }
  .main-product-item-description-name {
    margin-bottom: 18px;
  }
  .main-product-item-description-name-link {
    font-size: 16px;
    line-height: 18px;
  }
  .main-product-item-description-price {
    margin-bottom: 18px;
  }
  .main-product-item-description-btn {
    padding: 9px 25px;
  }
}

.navigation {
  font-size: 14px;
  color: #999;
}

.navigation-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-right: 5px;
  color: #999;
}

.navigation-link:last-child {
  color: #7033AC;
}

@media only screen and (max-width: 1366px) {
  .navigation-link {
    margin-right: 2px;
  }
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.call-form .just-validate-tooltip-container {
  margin-bottom: 28px;
}

.call-form-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  color: #333;
}

@media only screen and (max-width: 768px) {
  .call-form-title {
    font-size: 24px;
  }
}

.call-form-text {
  margin: 0;
  padding: 0;
}

.call-form-input {
  margin: 0;
  padding: 0;
  border: none;
  border: 2px solid #F6F6F6;
  color: #333;
  background-color: #F6F6F6;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  width: 100%;
  padding: 17px;
  border-radius: 10px;
}

.call-form-input:hover {
  background-color: #EAEAEA;
}

.call-form-input:focus {
  outline: none;
  background-color: #F8EFFF;
  border-color: #A65CF0;
}

.call-form-input::-webkit-input-placeholder {
  color: #999;
}

.call-form-input:-ms-input-placeholder {
  color: #999;
}

.call-form-input::-ms-input-placeholder {
  color: #999;
}

.call-form-input::placeholder {
  color: #999;
}

.call-form-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  background-color: #A65CF0;
  font-weight: 700;
  color: #FFF;
  -webkit-transition: background .2s ease, border .2s ease;
  transition: background .2s ease, border .2s ease;
  border: 2px solid #A65CF0;
  padding: 16px 32px;
  margin-bottom: 11px;
}

.call-form-button:hover {
  background-color: #C998FB;
}

.call-form-button:focus {
  outline: none;
  border-color: #7033AC;
}

.call-form-button:active {
  background-color: #7033AC;
}

@media only screen and (max-width: 1366px) {
  .call-form-button {
    padding: 19px 49px;
  }
}

.call-form-checkbox {
  display: block;
  cursor: pointer;
  font-size: 14px;
}

.call-form-checkbox.checkbox__label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
}

.call-form-checkbox .checkbox {
  position: absolute;
  opacity: 0;
}

.call-form-checkbox .checkbox__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
}

.call-form-checkbox .checkbox__span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #999;
  border-radius: 2px;
}

.call-form-checkbox .checkbox__span::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border .2s ease-in-out, opacity .2s ease-in-out;
  transition: border .2s ease-in-out, opacity .2s ease-in-out;
  opacity: 0;
}

.call-form-checkbox .checkbox:checked + .checkbox__span::before {
  border-color: #A65CF0;
  background-color: #A65CF0;
}

.call-form-checkbox .checkbox:checked + .checkbox__span::after {
  opacity: 1;
}

.call-form-checkbox-link {
  color: #A65CF0;
}

.call-form .js-validate-error-label {
  font-size: 12px;
  line-height: 16px;
  color: #FF6972 !important;
  background: unset;
}

.call-form .js-validate-error-field {
  border: 2px solid #FF6972 !important;
}

.call-form .js-validate-success-field {
  border: 2px solid #B8EC64;
}

.modal-close {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 19px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  z-index: 4;
}

.modal-close::before, .modal-close::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #333;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__top-row {
  padding: 16px 0;
  background-color: #F6F6F6;
}

.header__top-row-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 372px 710px;
      grid-template-columns: 372px 710px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top-row-left-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 178px 160px;
      grid-template-columns: 178px 160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top-row-region {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 5px;
  -ms-grid-columns: 100px 83px;
      grid-template-columns: 100px 83px;
}

.header__top-row-region-text {
  margin: 0;
  padding: 0;
}

.header__top-row-region .choices__inner {
  padding: 0;
  padding-bottom: 0 !important;
  min-height: 0;
  color: #A65CF0;
  border: none;
  background-color: transparent;
  -webkit-transition: color .2s ease, background .2s ease;
  transition: color .2s ease, background .2s ease;
}

.header__top-row-region .choices__item-header-top {
  font-size: 16px;
}

.header__top-row-region .choices__item-header-top.choices__item--choice {
  font-size: 14px;
  padding: 0 16px;
}

.header__top-row-region .choices__item-header-top.choices__item--choice:not(:last-child) {
  margin-bottom: 11px;
}

.header__top-row-region .choices__list--dropdown .choices__list-header-top {
  padding: 16px 0;
  max-height: 114px;
}

.header__top-row-region .choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.header__top-row-region .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.header__top-row-region .choices__list--single {
  padding: 0;
}

.header__top-row-region .choices:hover .choices__inner {
  color: #C998FB;
}

.header__top-row-region .choices:hover::after {
  border-color: transparent transparent #C998FB #C998FB;
}

.header__top-row-region .choices:focus .choices__inner {
  background-color: #EBD1FF;
  outline: none;
}

.header__top-row-region .choices:focus::after {
  border-color: transparent transparent #7033AC #7033AC;
}

.header__top-row-region .choices:active .choices__inner {
  background-color: unset;
  color: #7033AC;
}

.header__top-row-region .choices:active::after {
  border-color: transparent transparent #7033AC #7033AC;
}

.header__top-row-region .choices::after {
  right: 12.5px;
  top: 34%;
  width: 8px;
  height: 8px;
  border-style: unset;
  border-color: unset;
  border-bottom: 1px solid #A65CF0;
  border-left: 1px solid #A65CF0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
}

.header__top-row-region .choices.is-open::after {
  border-style: unset;
  border-color: unset;
  border-top: 1px solid #A65CF0;
  border-right: 1px solid #A65CF0;
  top: 90%;
}

.header__top-row-tel {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #FF862F;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.header__top-row-tel #phone-svg {
  -webkit-transition: fill .2s ease;
  transition: fill .2s ease;
}

.header__top-row-tel:hover {
  color: #FFBD59;
}

.header__top-row-tel:hover #phone-svg {
  fill: #FFBD59;
}

.header__top-row-tel:focus {
  outline: none;
  background-color: #FFF5D1;
}

.header__top-row-tel:focus #phone-svg {
  fill: #FF862F;
}

.header__top-row-tel:active {
  background-color: unset;
  color: #BB370E;
}

.header__top-row-tel:active #phone-svg {
  fill: #BB370E;
}

.header__top-row-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 84px 134px 182px 118px;
      grid-template-columns: 84px 134px 182px 118px;
  grid-column-gap: 64px;
}

.header__top-row-list-item-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #999;
  -webkit-transition: color .2s ease, background .2s ease;
  transition: color .2s ease, background .2s ease;
  font-size: 14px;
  color: #999;
}

.header__top-row-list-item-link:hover {
  color: #A65CF0;
}

.header__top-row-list-item-link:active {
  color: #7033AC;
  background-color: unset;
}

.header__top-row-list-item-link:focus {
  outline: none;
  background-color: #EBD1FF;
  color: #7033AC;
}

.header__bot-row {
  padding: 32px 0;
}

.header__bot-row-logo {
  cursor: pointer;
}

.header__bot-row-logo-link #logo-svg-container {
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.header__bot-row-logo-link:hover #logo-svg-container {
  opacity: .5;
}

.header__bot-row-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-row-gap: 27px;
}

.header__bot-row-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__bot-row-list-item {
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.header__bot-row-list-item-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #999;
  -webkit-transition: color .2s ease, background .2s ease;
  transition: color .2s ease, background .2s ease;
  color: #333;
}

.header__bot-row-list-item-link:hover {
  color: #A65CF0;
}

.header__bot-row-list-item-link:active {
  color: #7033AC;
  background-color: unset;
}

.header__bot-row-list-item-link:focus {
  outline: none;
  background-color: #EBD1FF;
  color: #7033AC;
}

.header__bot-row-list-item:hover {
  opacity: .5;
}

.header__bot-row-list-item:not(:last-child) {
  margin-right: 92px;
}

.header__bot-row-form {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 300px;
      grid-template-columns: 1fr 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bot-row-form-input {
  margin: 0;
  padding: 0;
  border: none;
  border: 2px solid #F6F6F6;
  color: #333;
  background-color: #F6F6F6;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  width: 760px;
  padding: 19px 57px;
  border-radius: 10px 0px 0px 10px;
}

.header__bot-row-form-input-container {
  position: relative;
}

.header__bot-row-form-input-container #search-svg-container {
  position: absolute;
  top: 19px;
  left: 32px;
}

.header__bot-row-form-input:hover {
  background-color: #EAEAEA;
}

.header__bot-row-form-input:focus {
  outline: none;
  background-color: #F8EFFF;
  border-color: #A65CF0;
}

.header__bot-row-form-input::-webkit-input-placeholder {
  color: #999;
}

.header__bot-row-form-input:-ms-input-placeholder {
  color: #999;
}

.header__bot-row-form-input::-ms-input-placeholder {
  color: #999;
}

.header__bot-row-form-input::placeholder {
  color: #999;
}

.header__bot-row-form-search-btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: 2px solid #A65CF0;
  border-radius: 50%;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  position: absolute;
  top: 16px;
  right: 30px;
}

.header__bot-row-form-search-btn:hover {
  background-color: #A65CF0;
}

.header__bot-row-form-search-btn:hover::before {
  border-color: #FFF;
}

.header__bot-row-form-search-btn:focus {
  outline: none;
  background-color: #C998FB;
}

.header__bot-row-form-search-btn:focus::before {
  border-color: #FFF;
}

.header__bot-row-form-search-btn:active {
  background-color: #7033AC;
  border-color: #7033AC;
}

.header__bot-row-form-search-btn::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 11px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #A65CF0;
  border-right: 2px solid #A65CF0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
}

.header__bot-row-form-search-btn.swiper-button-disabled {
  border-color: #999;
  cursor: unset;
}

.header__bot-row-form-search-btn.swiper-button-disabled::before {
  border-color: #999;
}

.header__bot-row-form-search-btn.swiper-button-disabled:hover {
  background-color: unset;
}

.header__bot-row-form-search-btn.swiper-button-disabled:hover::before {
  border-color: #999;
}

.header__bot-row-form-search-btn.swiper-button-disabled:focus {
  background-color: unset;
}

.header__bot-row-form-search-btn.swiper-button-disabled:focus::before {
  border-color: #999;
}

.header__bot-row-form-search-btn.swiper-button-disabled:active {
  background-color: unset;
  border-color: #999;
}

.header__bot-row-form .choices__inner {
  padding: 16px 27px !important;
  min-height: 0;
  color: #A65CF0;
  border: 2px solid #F6F6F6;
  border-radius: 0px 10px 10px 0px;
  color: #A65CF0;
  background-color: transparent;
  -webkit-transition: color .2s ease, border .2s ease;
  transition: color .2s ease, border .2s ease;
}

.header__bot-row-form .choices__item-header-bot {
  font-size: 16px;
}

.header__bot-row-form .choices__item-header-bot.choices__item--choice {
  width: 50%;
}

.header__bot-row-form .choices__list--dropdown {
  cursor: default;
  z-index: 2;
}

.header__bot-row-form .choices__list--dropdown .choices__list-header-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  min-height: 194px;
}

.header__bot-row-form .choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.header__bot-row-form .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.header__bot-row-form .choices__list--dropdown .choices__item--selectable:hover {
  color: #A65CF0;
}

.header__bot-row-form .choices #choices--selectCategory-item-choice-3 {
  display: none;
}

.header__bot-row-form .choices:hover .choices__inner {
  border-color: #A65CF0;
}

.header__bot-row-form .choices:focus .choices__inner {
  outline: none;
  border-color: #A65CF0;
  background-color: #F8EFFF;
}

.header__bot-row-form .choices:active .choices__inner {
  border-color: #7033AC;
}

.header__bot-row-form .choices::after {
  right: 33.5px;
  top: 44%;
  width: 8px;
  height: 8px;
  border-style: unset;
  border-color: unset;
  border-bottom: 1px solid #A65CF0;
  border-left: 1px solid #A65CF0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
}

.header__bot-row-form .choices.is-open::after {
  border-style: unset;
  border-color: unset;
  border-top: 1px solid #A65CF0;
  border-right: 1px solid #A65CF0;
  top: 60%;
}

.header__bot-row-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__bot-row-account-enter {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 25px;
}

.header__bot-row-account-enter #login-svg {
  -webkit-transition: fill .2s ease;
  transition: fill .2s ease;
}

.header__bot-row-account-enter:hover #login-svg {
  fill: #C998FB;
}

.header__bot-row-account-enter:focus {
  outline: none;
  background-color: #C998FB;
}

.header__bot-row-account-enter:focus #login-svg {
  fill: #FFF;
}

.header__bot-row-account-enter:active {
  background-color: unset;
}

.header__bot-row-account-enter:active #login-svg {
  fill: #7033AC;
}

.header__bot-row-account-cart {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bot-row-account-cart-count {
  width: 15px;
  height: 15px;
  padding-top: 2px;
  border-radius: 50%;
  background-color: #FF862F;
  color: #FFF;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
}

.header__bot-row-account-cart #cart-svg {
  -webkit-transition: fill .2s ease;
  transition: fill .2s ease;
}

.header__bot-row-account-cart:hover #cart-svg {
  fill: #C998FB;
}

.header__bot-row-account-cart:focus {
  outline: none;
  background-color: #C998FB;
}

.header__bot-row-account-cart:focus #cart-svg {
  fill: #FFF;
}

.header__bot-row-account-cart:active {
  background-color: unset;
}

.header__bot-row-account-cart:active #cart-svg {
  fill: #7033AC;
}

.header .hamburger {
  display: none;
  padding: 0;
  z-index: 3;
}

.header .hamburger-box {
  width: 24px;
}

.header .hamburger-inner {
  width: 24px;
  background-color: #A65CF0;
}

.header .hamburger-inner::before, .header .hamburger-inner::after {
  width: 24px;
  background-color: #A65CF0;
}

.header .hamburger.is-active .hamburger-inner::before, .header .hamburger.is-active .hamburger-inner::after {
  background-color: #A65CF0;
}

@media only screen and (max-width: 1366px) {
  .header {
    position: relative;
  }
  .header::before {
    content: '';
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #F6F6F6;
  }
  .header__top-row {
    position: relative;
    background-color: unset;
    padding: 20px 0;
  }
  .header__top-row-content {
    display: block;
  }
  .header__top-row-left-column {
    margin-bottom: 35px;
    -ms-grid-columns: 178px 141px;
        grid-template-columns: 178px 141px;
  }
  .header__bot-row {
    padding: 27px 0 30px;
  }
  .header__bot-row-logo-link {
    margin-right: 0;
  }
  .header__bot-row-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-row-gap: 32px;
  }
  .header__bot-row-list {
    margin-right: 3px;
  }
  .header__bot-row-list-item:not(:last-child) {
    margin-right: 42px;
  }
  .header__bot-row-account {
    position: absolute;
    top: 69px;
    right: 38px;
  }
  .header__bot-row-form-input {
    width: 653px;
  }
  .header__bot-row-form-list {
    width: 100%;
  }
  .header__bot-row-form-search-btn {
    top: 13px;
    right: 32px;
  }
}

@media only screen and (max-width: 1024px) {
  .header__top-row-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-column-gap: 35px;
  }
  .header__bot-row-list {
    display: none;
  }
  .header__bot-row-list-item:not(:last-child) {
    margin-bottom: 43px;
  }
  .header__bot-row-list.list-active {
    display: block;
    position: absolute;
    padding: 10px 72px;
    top: 195px;
    left: 0;
    width: 100%;
    height: 125%;
    background-color: #FFF;
    z-index: 4;
  }
  .header__bot-row-content {
    -ms-grid-columns: 26px 1fr;
        grid-template-columns: 26px 1fr;
  }
  .header__bot-row-account {
    top: 139px;
    right: 74px;
  }
  .header__bot-row-logo-link {
    margin: 0 auto;
    -webkit-transform: translate(-13px, 2px);
            transform: translate(-13px, 2px);
  }
  .header__bot-row-form {
    width: 100%;
    margin-right: 0;
    -ms-grid-columns: 1fr 191px;
        grid-template-columns: 1fr 191px;
  }
  .header__bot-row-form .choices__inner {
    padding: 15px 27px !important;
  }
  .header__bot-row-form-input {
    width: 100%;
  }
  .header__bot-row-form-input-container #search-svg-container {
    width: 15px;
    height: 15px;
  }
  .header__bot-row-form-list {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    grid-row-gap: 10px;
  }
  .header__bot-row-form .choices__item--choice {
    font-size: 14px;
  }
  .header__bot-row-form .choices__list--dropdown .choices__list-header-bot {
    padding: 30px 10px;
  }
  .header .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .header::before {
    top: 0;
  }
  .header__top-row {
    padding-top: 69px;
    padding-bottom: 10px;
  }
  .header__top-row-region {
    margin-bottom: 20px;
  }
  .header__top-row-left-column {
    display: block;
    margin-bottom: 0;
  }
  .header__top-row-list {
    position: absolute;
    top: 571px;
    left: 0;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    background-color: #F6F6F6;
    z-index: 4;
  }
  .header__top-row-list-item {
    max-width: 135px;
    margin-bottom: 10px;
  }
  .header__top-row-list.list-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__bot-row {
    padding-top: 22px;
    padding-bottom: 33px;
  }
  .header__bot-row-logo-link {
    width: 100%;
    position: absolute;
    top: 12px;
    left: 0;
    -webkit-transform: unset;
            transform: unset;
  }
  .header__bot-row-logo-link #logo-svg-container {
    margin: 0 auto;
    display: block;
  }
  .header__bot-row-account {
    top: 154px;
    right: 11px;
  }
  .header__bot-row-account-enter {
    margin-right: 29px;
  }
  .header__bot-row-form {
    display: block;
  }
  .header__bot-row-form-input {
    width: 100%;
    margin-bottom: 13px;
    border-radius: 10px;
  }
  .header__bot-row-form .choices__inner {
    border-radius: 10px;
  }
  .header__bot-row-content {
    grid-row-gap: 30px;
  }
  .header__bot-row-list.list-active {
    height: 100%;
    padding: 10px 15px;
  }
  .header__bot-row .hamburger--spring {
    padding-left: 4px;
  }
  .header__bot-row::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    border-color: #F6F6F6;
    border-style: solid;
    border-top: 1px;
    border-bottom: 1px;
  }
}

.header__bot-row {
  padding: 32px 0 20px 0;
}

@media only screen and (max-width: 1366px) {
  .header__bot-row {
    padding: 26px 0 19px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .header__bot-row {
    padding: 26px 0 21px 0;
  }
}

@media only screen and (max-width: 768px) {
  .header__bot-row {
    padding: 22px 0 32px 0;
  }
}

.main .navigation {
  margin-bottom: 32px;
}

.main__card-content {
  padding-bottom: 70px;
}

.main__card-product {
  margin-bottom: 81px;
}

.main__card-product-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.main__card-product-info {
  padding-top: 13px;
}

.main__card-product-images {
  width: 624px;
  margin-right: 32px;
  cursor: pointer;
}

.main__card-product-images-img {
  width: 100%;
  margin-bottom: 10px;
}

.main__card-product-images-wrap {
  padding: 9px 24px;
  background-color: #F6F6F6;
}

.main__card-product-images-wrap-img:not(:last-child) {
  margin-right: 34px;
}

.main__card-product-rate {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  padding-left: 22px;
  background-image: url("../img/sprite.svg#rate");
  background-repeat: no-repeat;
  background-position: -40px center;
  color: #FF862F;
}

.main__card-product-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  color: #333;
  margin-bottom: 4px;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .main__card-product-title {
    font-size: 24px;
  }
}

.main__card-product-text {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  color: #999;
  font-size: 14px;
}

.main__card-product-price {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  font-size: 36px;
}

.main__card-product-btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  background-color: #A65CF0;
  font-weight: 700;
  color: #FFF;
  -webkit-transition: background .2s ease, border .2s ease;
  transition: background .2s ease, border .2s ease;
  border: 2px solid #A65CF0;
  margin-bottom: 12px;
  padding: 17px 29px;
  font-weight: 600;
}

.main__card-product-btn:hover {
  background-color: #C998FB;
}

.main__card-product-btn:focus {
  outline: none;
  border-color: #7033AC;
}

.main__card-product-btn:active {
  background-color: #7033AC;
}

@media only screen and (max-width: 1366px) {
  .main__card-product-btn {
    padding: 19px 49px;
  }
}

.main__card-product-add {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 31px;
  display: block;
  color: #A65CF0;
}

.main__card-product-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__card-product-description-left {
  width: 624px;
  margin-right: 32px;
}

.main__card-product-description-left-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  color: #333;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .main__card-product-description-left-title {
    font-size: 24px;
  }
}

.main__card-product-description-left-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 25px;
}

.main__card-product-description-left-text:not(:last-child) {
  margin-bottom: 8px;
}

.main__card-product-description-img:not(:last-child) {
  margin-right: 29px;
}

.main__card-product-description-right {
  width: 546px;
  padding-top: 6px;
}

.main__card-product-description-right .feature {
  margin: 0;
  padding: 0;
  display: block;
}

.main__card-product-description-right .feature li {
  margin: 0;
  padding: 0;
  display: block;
}

.main__card-product-description-right .feature li:not(:last-child) {
  margin-bottom: 5.5px;
}

.main__card-product-description-right .feature-left {
  margin: 0;
  padding: 0;
  margin-right: -30%;
  width: 59%;
  overflow: hidden;
  display: inline-block;
  color: #999;
  font-size: 14px;
}

.main__card-product-description-right .feature-left::after {
  content: '';
  display: inline-block;
  width: 100%;
  margin: 0 -99% 0 3px;
  border-bottom: 1px dashed #999;
}

.main__card-product-description-right .feature-right {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding-left: 3px;
  margin-left: 30%;
  width: 40%;
  font-size: 14px;
  vertical-align: top;
}

.main__card-product-description-images {
  padding-top: 97px;
}

.main__card-analogs {
  position: relative;
}

.main__card-analogs-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  color: #333;
  font-size: 24px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .main__card-analogs-title {
    font-size: 24px;
  }
}

.main__card-swiper-nav {
  position: absolute;
  top: -3px;
  right: 0;
}

.main__card-swiper-nav-arrow {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: 2px solid #A65CF0;
  border-radius: 50%;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  position: relative;
}

.main__card-swiper-nav-arrow:hover {
  background-color: #A65CF0;
}

.main__card-swiper-nav-arrow:hover::before {
  border-color: #FFF;
}

.main__card-swiper-nav-arrow:focus {
  outline: none;
  background-color: #C998FB;
}

.main__card-swiper-nav-arrow:focus::before {
  border-color: #FFF;
}

.main__card-swiper-nav-arrow:active {
  background-color: #7033AC;
  border-color: #7033AC;
}

.main__card-swiper-nav-arrow::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 11px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #A65CF0;
  border-right: 2px solid #A65CF0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
}

.main__card-swiper-nav-arrow.swiper-button-disabled {
  border-color: #999;
  cursor: unset;
}

.main__card-swiper-nav-arrow.swiper-button-disabled::before {
  border-color: #999;
}

.main__card-swiper-nav-arrow.swiper-button-disabled:hover {
  background-color: unset;
}

.main__card-swiper-nav-arrow.swiper-button-disabled:hover::before {
  border-color: #999;
}

.main__card-swiper-nav-arrow.swiper-button-disabled:focus {
  background-color: unset;
}

.main__card-swiper-nav-arrow.swiper-button-disabled:focus::before {
  border-color: #999;
}

.main__card-swiper-nav-arrow.swiper-button-disabled:active {
  background-color: unset;
  border-color: #999;
}

.main__card-swiper-nav-arrow.arrow-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 10px;
}

.main__card-swiper .swiper-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-modal-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.form-modal__window {
  padding: 30px;
  width: 624px;
  height: 421px;
  position: relative;
}

.form-modal__window .call-form-title {
  margin-bottom: 4px;
}

.form-modal__window .call-form-text {
  width: 374px;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 19px;
}

.form-modal__window .success-wrap {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-modal__window .success-wrap-img {
  margin: 0 auto;
  display: block;
}

.form-modal__window .success-wrap-text {
  font-size: 32px;
  text-align: center;
}

.form-modal__window .success-wrap.success {
  display: block;
}

@media only screen and (max-width: 768px) {
  .form-modal__window {
    width: 296px;
    padding: 30px 16px;
  }
  .form-modal__window .call-form-text {
    width: 100%;
    margin-bottom: 16px;
  }
  .form-modal__window .call-form-title {
    margin-bottom: 8px;
  }
  .form-modal__window .call-form-button {
    padding: 19px 35px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  .form-modal__window .call-form-checkbox.checkbox__label {
    padding-left: 15px;
    font-size: 12px;
  }
  .form-modal__window .call-form-checkbox .checkbox__span::before {
    width: 12px;
    height: 12px;
  }
  .form-modal__window .call-form-checkbox .checkbox__span::after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 7px;
  }
  .form-modal__window .call-form .just-validate-tooltip-container {
    margin-bottom: 16px;
  }
  .form-modal__window .success-wrap {
    width: auto;
  }
  .form-modal__window .success-wrap-text {
    font-size: 16px;
  }
  .form-modal__window .success-wrap-img {
    width: 75px;
  }
}

.form-modal__photo .form-modal-images {
  width: 1280px;
  top: 61%;
  padding-top: 50px;
}

.form-modal__photo .form-modal-images .form-modal-img {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1366px) {
  .form-modal__photo .form-modal-images .form-modal-img {
    width: 89%;
  }
}

.form-modal__photo .form-modal-images-wrap {
  padding: 20px 108px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F6F6F6;
  border-radius: 0 0 10px 10px;
}

@media only screen and (max-width: 1366px) {
  .form-modal__photo .form-modal-images-wrap {
    padding: 20px 67px;
  }
}

@media only screen and (max-width: 1024px) {
  .form-modal__photo .form-modal-images-wrap {
    padding: 20px 79px;
    overflow-y: hidden;
  }
  .form-modal__photo .form-modal-images-wrap .form-modal-wrap-img {
    width: 70%;
  }
  .form-modal__photo .form-modal-images-wrap .form-modal-wrap-img:not(:last-child) {
    margin-right: 78px;
  }
}

@media only screen and (max-width: 768px) {
  .form-modal__photo .form-modal-images-wrap {
    padding: 16px 62px;
  }
  .form-modal__photo .form-modal-images-wrap .form-modal-wrap-img {
    width: 100%;
  }
  .form-modal__photo .form-modal-images-wrap .form-modal-wrap-img:not(:last-child) {
    margin-right: 78px;
  }
}

@media only screen and (max-width: 1366px) {
  .form-modal__photo .form-modal-images {
    width: 952px;
  }
}

@media only screen and (max-width: 1024px) {
  .form-modal__photo .form-modal-images {
    width: 624px;
  }
}

@media only screen and (max-width: 768px) {
  .form-modal__photo .form-modal-images {
    width: 296px;
  }
}

.form-modal__window, .form-modal__photo {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #FFF;
  z-index: 4;
}

@media only screen and (max-width: 1366px) {
  .main__card-product {
    margin-bottom: 68px;
  }
  .main__card-product-body {
    margin-bottom: 35px;
  }
  .main__card-product-images {
    width: 100%;
  }
  .main__card-product-images-wrap {
    padding: 11px 11px 7px;
    max-width: 516px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden;
  }
  .main__card-product-images-wrap-img:not(:last-child) {
    margin-right: 38px;
  }
  .main__card-product-info {
    min-width: 407px;
    padding-top: 15px;
  }
  .main__card-product-title {
    margin-bottom: 4px;
  }
  .main__card-product-text {
    margin-bottom: 23px;
  }
  .main__card-product-btn {
    margin-bottom: 13px;
    padding: 16px 30px;
  }
  .main__card-product-price {
    margin-bottom: 24px;
  }
  .main__card-product-description-left {
    width: 100%;
  }
  .main__card-product-description-left-title {
    margin-bottom: 6px;
    font-size: 16px;
  }
  .main__card-product-description-right {
    padding-top: 6px;
    min-width: 407px;
  }
  .main__card-product-description-right .feature-right {
    width: 54%;
  }
  .main__card-product-description-right .feature-left {
    width: 44%;
  }
  .main__card-product-description-images {
    padding-top: 73px;
  }
  .main__card-product-description-img:not(:last-child) {
    margin-right: 17px;
  }
  .main__card-analogs-title {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 1024px) {
  .main__card-product {
    margin-bottom: 34px;
  }
  .main__card-product-rate {
    margin-bottom: 4px;
  }
  .main__card-product-title {
    margin-bottom: 6px;
  }
  .main__card-product-body {
    margin-bottom: 81px;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__card-product-info {
    min-width: 405px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .main__card-product-images {
    margin-bottom: 56px;
  }
  .main__card-product-images-wrap {
    padding: 23px 25px 27px;
    position: absolute;
    bottom: -50px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__card-product-images-wrap-img:not(:last-child) {
    margin-right: 0;
    margin-bottom: 18px;
  }
  .main__card-product-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__card-product-description-left {
    width: 84%;
    margin-bottom: 27px;
  }
  .main__card-product-description-left-title {
    margin-bottom: 8px;
  }
  .main__card-product-description-images {
    padding-top: 22px;
  }
  .main__card-product-description-right {
    width: 100%;
    padding-top: 6px;
  }
  .main__card-product-description-right .feature-left {
    width: 64%;
  }
  .main__card-product-description-right .feature-right {
    width: 35%;
  }
  .main__card-product-text {
    margin-bottom: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .main__card-product {
    margin-bottom: 70px;
  }
  .main__card-product-body {
    margin-bottom: 34px;
  }
  .main__card-product-rate {
    margin-bottom: 3px;
  }
  .main__card-product-images {
    margin-bottom: 2px;
  }
  .main__card-product-images-wrap {
    padding: 10px;
    position: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-y: hidden;
  }
  .main__card-product-images-wrap-img:not(:last-child) {
    margin-bottom: 0;
    margin-right: 38px;
  }
  .main__card-product-images-img {
    margin-bottom: 13px;
  }
  .main__card-product-info {
    padding-top: 17px;
    min-width: 100%;
  }
  .main__card-product-title {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .main__card-product-text {
    width: 68%;
    margin-bottom: 18px;
    line-height: 15px;
    font-size: 14px;
  }
  .main__card-product-price {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .main__card-product-btn, .main__card-product-add {
    width: 100%;
  }
  .main__card-product-description-left {
    width: 100%;
    margin-bottom: 24px;
  }
  .main__card-product-description-left-title {
    margin-bottom: 6px;
    font-size: 15px;
  }
  .main__card-product-description-images {
    padding-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__card-product-description-img {
    width: 47%;
  }
  .main__card-product-description-right {
    min-width: 100%;
  }
  .main__card-product-description-right .feature li:not(:last-child) {
    margin-bottom: 4.2px;
  }
  .main__card-product-description-right .feature-left {
    width: 100%;
    font-size: 10px;
  }
  .main__card-product-description-right .feature-left::after {
    display: none;
  }
  .main__card-product-description-right .feature-right {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  .main__card-swiper-nav {
    top: unset;
    bottom: -48px;
    right: 37%;
  }
  .main__card-content {
    padding-bottom: 118px;
  }
}

.footer {
  background-color: #EAEAEA;
}

.footer__content {
  padding-top: 25px;
  padding-bottom: 22px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 187px 844px;
      grid-template-columns: 187px 844px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content-logo {
  margin-bottom: 20px;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.footer__content-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30px)[3];
      grid-template-columns: repeat(3, 30px);
  gap: 20px;
}

.footer__content-social-list-item-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 500%;
  background-position: center;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.footer__content-social-list-item-link.instagram {
  background-image: url("../img/sprite.svg#instagram");
}

.footer__content-social-list-item-link.vk {
  background-image: url("../img/sprite.svg#vk");
}

.footer__content-social-list-item-link.facebook {
  background-image: url("../img/sprite.svg#fb");
}

.footer__content-social-list-item-link:hover {
  opacity: 0.5;
}

.footer__content-right-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 84px 154px 141px 128px;
      grid-template-columns: 84px 154px 141px 128px;
  grid-column-gap: 112px;
}

.footer__content-right-column-item-title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 16px;
}

.footer__content-right-column-item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__content-right-column-item-list-item {
  color: #333;
}

.footer__content-right-column-item-list-item-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #999;
  -webkit-transition: color .2s ease, background .2s ease;
  transition: color .2s ease, background .2s ease;
  font-size: 14px;
}

.footer__content-right-column-item-list-item-link:hover {
  color: #A65CF0;
}

.footer__content-right-column-item-list-item-link:active {
  color: #7033AC;
  background-color: unset;
}

.footer__content-right-column-item-list-item-link:focus {
  outline: none;
  background-color: #EBD1FF;
  color: #7033AC;
}

.footer__content-right-column-item-list-item:not(:last-child) {
  margin-bottom: 5px;
}

.footer__copyright {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #F6F6F6;
}

.footer__copyright-text {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #999;
  font-size: 14px;
}

@media only screen and (max-width: 1366px) {
  .footer__content {
    padding-top: 27px;
    padding-bottom: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer__content-right-column {
    grid-column-gap: 76px;
  }
  .footer__content-right-column-item-title {
    margin-bottom: 3px;
  }
  .footer__content-logo {
    width: 189px;
    margin-bottom: 17px;
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .footer__content-social-list-item-link {
    width: 32px;
    height: 32px;
  }
  .footer__copyright {
    padding: 6px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .footer__content {
    padding-top: 23px;
    padding-bottom: 24px;
    display: block;
  }
  .footer__content-left-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 132px;
        grid-template-columns: auto 132px;
  }
  .footer__content-logo {
    margin-bottom: 23px;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  .footer__content-right-column {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-column-gap: 38px;
  }
  .footer__content-social-list-item-link {
    width: 33px;
    height: 33px;
  }
  .footer__copyright {
    padding: 8px 0;
  }
}

@media only screen and (max-width: 768px) {
  .footer__content {
    padding-top: 22px;
  }
  .footer__content-left-column {
    margin-bottom: 22px;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__content-social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__content-logo {
    margin-bottom: 17px;
  }
  .footer__content-right-column {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-column-gap: 17px;
    grid-row-gap: 25px;
  }
}
/*# sourceMappingURL=card.css.map */