.main {
    &__front-banner {
        &-slide {
            padding-top: 81px;
            padding-bottom: 80px;
            background-repeat: no-repeat;
            background-size: cover;
            &:first-child {
                background-image: url('../img/main-big-img.jpg');
            }
            &:nth-child(2) {
                background-image: url('../img/main-big-img-second.jpg');
            }
            &:last-child {
                background-image: url('../img/main-big-img-third.jpg');
                .main__front-banner-text {
                    color: $whiteColor;
                }
            }
        }
        &-text {
            @include clearStyles;
            width: 560px;
            margin-bottom: 50px;
            font-weight: 700;
            font-size: 48px;
            line-height: 65px;
            color: $greyColor;
        }
        &-btn {
            @include stylesForMainButton;
            padding: 18px 48px;
        }
    }
    &__special {
        padding-top: 70px;
        margin-bottom: 66px;
        position: relative;
        &-swiper-nav {
            position: absolute;
            top: 72px;
            right: 50px;
            &-arrow {
                @include stylesForBtnArrow;
                position: relative;
                &.special-arrow-left {
                    transform: rotate(180deg);
                    margin-right: 10px;
                }
            }
        }
        &-title {
            @include stylesForTitle;
            margin-bottom: 25px;
        }
        &-list {
            @include stylesForList;
            &-item {
                padding-top: 65px;
                position: relative;
                max-width: 296px;
                min-height: 511px;
                background-color: $greyLightColor;
                border-radius: 10px;
                text-align: center;
                &:nth-child(3n+2) {
                    padding-top: 34px;
                    max-width: 624px;
                    background-repeat: no-repeat;
                    background-position: 93% 93%;
                }
                &:nth-child(2) {
                    background-image: url('../img/sofa-type.png')
                }
                &:nth-child(5) {
                    background-image: url('../img/sofa-type-2.png')
                }
                &-discount {
                    @include clearStyles;
                    width: 92px;
                    position: absolute;
                    padding: 9px 0;
                    top: 28px;
                    left: 0;
                    background-image: url('../img/sprite.svg#arrow-bg');
                    background-repeat: no-repeat;
                    background-size: 200%;
                    background-position: center;
                    color: white;
                    font-size: 14px;
                    font-weight: 700;
                }
                &-description {
                    width: 222px;
                    position: absolute;
                    bottom: 33px;
                    left: 30px;
                    text-align: left;
                    &-name {
                        @include clearStyles;
                        margin-bottom: 21px;
                        &-link {
                            @include stylesForLink;
                            font-size: 24px;
                            line-height: 31px;
                            font-weight: normal;
                            color: $blackColor;
                        }
                    }
                    &-price {
                        @include clearStyles;
                        margin-bottom: 24px;
                        font-size: 18px;
                        color: $secondaryColor;
                        .price-old {
                            margin-left: 28px;
                            font-size: 16px;
                            text-decoration: line-through;
                            color: $greyColor;
                        }
                    }
                    &-btn {
                        @include buyButtonStyles;
                    }
                }
            }
        }
    }
    &__highrate {
        margin-bottom: 70px;
        &-title {
            @include stylesForTitle;
            margin-bottom: 23px;
        }
        &-list {
            @include stylesForList;
            margin-bottom: 33px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 32px;
            &-item {
               @include stylesForCards;
               &:nth-child(n + 9) {
                    display: none;
                    opacity: 0;
                    transition: opacity .2s ease
                }
            }
        }
        &-btn {
            @include stylesForMainButton;
            padding: 19px 35px;
            display: block;
            margin: 0 auto;
        }
    }
    &__middle-banner {
        margin-bottom: 70px;
        padding-top: 157px;
        padding-bottom: 149px;
        background-image: url('../img/middle-big-img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        &-description {
            width: 508px;
        }
        &-text {
            @include clearStyles;
            font-family: 'Playfair Display', sans-serif;
            font-weight: 900;
            font-size: 60px;
            color: $goldColor;
        }
        &-smalltext {
            @include clearStyles;
            margin-bottom: 48px;
            font-size: 48px;
            line-height: 58px;
            color: $whiteColor;
        }
        &-btn {
            @include stylesForMainButton;
            padding: 19px 31px;
        }
    }
    &__categories {
        margin-bottom: 69px;
        &-title {
            @include stylesForTitle;
            margin-bottom: 21px;
        }
        &-list {
            @include stylesForList;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 511px 405px;
            gap: 32px;
            grid-template-areas: 
                "a a a b b b"
                "c c d d e e";
            &-item {
                &:first-child {
                    grid-area: a;
                }
                &:nth-child(2) {
                    grid-area: b;
                }
                &:nth-child(3) {
                    grid-area: c;
                }
                &:nth-child(4) {
                    grid-area: d;
                }
                &:last-child {
                    grid-area: e;
                }
                padding: 30px;
                background-color: $greyLightColor;
                border-radius: 10px;
                &-btn {
                    @include stylesForBtnArrow;
                }
                &-link {
                    @include stylesForArrow;
                }
                &-img {
                    margin-bottom: 22px;
                    transform: translateX(-30px)
                }
                &-title {
                    @include clearStyles;
                    margin-bottom: 33px;
                    &-link {
                        @include stylesForLink;
                        font-size: 24px;
                        font-weight: normal;
                        color: $blackColor;
                    }
                }
                &-types {
                    @include stylesForList;
                    display: flex;
                    margin-bottom: 17px;
                    &-type {
                        margin-right: 30px;
                        font-size: 14px;
                        color: $greyColor;
                    }
                }
            }
        }
    }
    &__useful {
        position: relative;
        margin-bottom: 70px;
        &-title {
            @include stylesForTitle;
            margin-bottom: 25px;
        }
        &-swiper-nav {
            position: absolute;
            top: 3px;
            right: 50px;
            &-arrow {
                @include stylesForBtnArrow;
                position: relative;
                &.useful-arrow-left {
                    transform: rotate(180deg);
                    margin-right: 10px;
                }
            }
        }
        &-list {
            @include stylesForList;
            &-item {
                position: relative;
                min-height: 676px;
                height: initial;
                background-color: $greyLightColor;
                border-radius: 10px;
                &-img {
                    width: 100%;
                }
                &-description {
                    padding: 27px 30px 100px;
                    &-text {
                        @include clearStyles;
                        line-height: 33px;
                        font-size: 24px;
                        font-weight: normal;
                    }
                    &-btn {
                        @include buyButtonStyles;
                        position: absolute;
                        bottom: 31px;
                        left: 31px;
                    }
                }
            }
        }
    }
    &__contactus {
        margin-bottom: 44px;
        &-title {
            @include stylesForTitle;
            margin-bottom: 6px;
        }
        &-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
            &-text {
                @include clearStyles;
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 19px;
            }
            &-tooltip {
                position: relative;
                cursor: pointer;
                display: inline-block;
                background-image: url('../img/sprite.svg#question');
                background-repeat: no-repeat;
                background-size: 500%;
                background-position: center;
                width: 14px;
                height: 14px;
                transition: background .2s ease;
                &:hover {
                    background-image: url('../img/sprite.svg#question-hover');
                    &::before,
                    &::after {
                        opacity: 1;
                        z-index: 2;
                    }
                }
                &::before {
                    content: 'Реплицированные с зарубежных источников, исследования формируют глобальную сеть.';
                    position: absolute;
                    top: -70px;
                    left: -68px;                
                    width: 157px;
                    height: 52px;
                    padding-top: 7px;
                    background-color: $blackColor;
                    color: $whiteColor;
                    font-size: 9px;
                    line-height: 14px;
                    text-align: center;
                    z-index: -1;
                    opacity: 0;
                    transition: opacity .2s ease;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: -17px;
                    transform: rotate(45deg);
                    left: 1px;
                    width: 12px;
                    height: 12px;
                    background-color: $blackColor;
                    z-index: -1;
                    opacity: 0;
                    transition: opacity .2s ease;
                }
            }
        }
        &-form {
            .just-validate-tooltip-container {
                margin-bottom: 28px;
            }
            &-input {
                @include stylesForMainInput;
                width: 100%;
                padding: 17px;
                border-radius: 10px;
            }
            &-button {
                @include stylesForMainButton;
                padding: 16px 32px;
                margin-bottom: 11px;
            }
            &-checkbox {
                @include stylesForCheckbox;
                font-size: 14px;
                &-link {
                    color: $primaryColor;
                }
            }
            .js-validate-error-label {
                font-size: 12px;
                line-height: 16px;
                color: $redInputColor !important;
                background: unset;
            }
            .js-validate-error-field {
                border: 2px solid $redInputColor !important;
            }
            .js-validate-success-field {
                border: 2px solid $greenInputColor;
            }
        }
        &-img {
            transform: translateY(-17px);
        }
    }
}

@media only screen and (max-width: 1366px) {
    .main {
        &__front-banner {
            &-text {
                margin-bottom: 49px;
            }
            &-slide {
                padding-top: 81px;
                padding-bottom: 80px;
                &:first-child {
                    background-image: url('../img/main-big-img-1024.jpg');
                }
                &:nth-child(2) {
                    background-image: url('../img/main-big-img-second-1024.jpg');
                }
                &:last-child {
                    background-image: url('../img/main-big-img-third-1024.jpg');
                }
            }
        }
        &__special {
            padding-top: 68px;
            margin-bottom: 68px;
            &-swiper {
                &-nav {
                    top: 70px;
                    right: 37px;
                }
            }
            &-list {
                &-item {
                    max-width: unset;
                    &-description {
                        bottom: 31px;
                        &-name {
                            margin-bottom: 23px;
                        }
                    }
                    &:nth-child(3n+2) {
                        padding-top: 112px;
                        background-image: unset;
                        .main__special-list-item-img {
                            width: 251px;
                        }
                    }
                }
            }
        }
        &__highrate {
            &-title {
                margin-bottom: 23px;
            }
            &-list {
                grid-template-columns: repeat(3, 1fr);
                margin-bottom: 32px;
                &-item {
                    width: 100%;
                    padding-top: 73px;
                    &:nth-child(n + 7) {
                        display: none;
                    }
                    &-description {
                        bottom: 30px;
                        &-price {
                            font-size: 16px;
                        }
                        &-name {
                            margin-bottom: 24px;
                        }
                    }
                }
            }
            &-btn {
                padding: 19px 34px;
            }
        }
        &__middle {
            &-banner {
                margin-bottom: 68px;
                padding-top: 156px;
                &-btn {
                    padding: 19px 30px;
                }
            }
        }
        &__middle-banner {
            padding-bottom: 150px;
            background-image: url('../img/middle-big-img-1024.jpg');
            &-text {
                margin-bottom: 1px;
            }
        }
        &__categories {
            margin-bottom: 68px;
            &-title {
                margin-bottom: 24px;
            }
            &-list {
                grid-template-rows: repeat(2, 511px);
                grid-template-areas:
                    "a a a a c c"
                    "d d b b e e";
                &-item {
                    position: relative;
                    overflow: hidden;
                    &-link {
                        position: absolute;
                        bottom: 31px;
                        left: 30px;
                    }
                    &-types {
                        margin-bottom: 15px;
                    }
                    &:not(:first-child) {
                        .main__categories-list-item-title {
                            margin-bottom: 38px;
                        }
                    }
                    &:nth-child(2) {
                        .main__categories-list-item-img {
                            width: 505px;
                            transform: translateX(-273px);
                        }
                    }
                    &:nth-child(3) {
                        .main__categories-list-item-img {
                            width: 447px;
                        }
                    }
                    &:nth-child(4) {
                        .main__categories-list-item-img {
                            width: 485px;
                            transform: translateX(-261px);
                        }
                    }
                    &:last-child {
                        .main__categories-list-item-img {
                            width: 376px;
                            transform: translateX(-143px);
                        }
                    }
                }
            }
        }
        &__useful {
            margin-bottom: 67px;
            &-title {
                margin-bottom: 24px;
            }
            &-swiper {
                &-nav {
                    top: 2px;
                    right: 37px;
                }
            }
            &-list {
                &-item {
                    min-height: 458px;
                    &-description {
                        padding: 27px 37px 100px 30px;
                        &-text {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        &__contactus {
            margin-bottom: 43px;
            &-title {
                margin-bottom: 7px;
            }
            &-content {
                grid-template-columns: 1fr 517px;
            }
            &-form {
                &-button {
                    margin-bottom: 12px;
                    padding: 16px 32px;
                }
            }
            &-img {
                width: 517px;
                margin-top: 36px;
                transform: unset;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .main {
        &__front-banner {
            &-slide {
                padding-top: 83px;
                &:first-child {
                    background-image: url('../img/main-big-img-768.jpg');
                }
                &:nth-child(2) {
                    background-image: url('../img/main-big-img-second-768.jpg');
                }
                &:last-child {
                    background-image: url('../img/main-big-img-third-768.jpg');
                }
            }
        }
        &__categories {
            &-list {
                gap: 32px;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 511px);
                grid-template-areas: 
                    "a a"
                    "c b"
                    "d e";
            }
        }
        &__special {
            margin-bottom: 68px;
            &-swiper {
                &-nav {
                    right: 72px;
                }
            }
            &-title {
                margin-bottom: 23px;
            }
            &-list-item {
                &-discount {
                    top: 30px;
                }
                &-description {
                    bottom: 29px;
                    &-price {
                        .price-old {
                            margin-left: 26px;
                        }
                    }
                }
            }
        }
        &__highrate {
            &-list {
                grid-template-columns: repeat(2, 1fr);
            }
            &-title {
                margin-bottom: 25px;
            }
        }
        &__middle-banner {
            background-image: url('../img/middle-big-img-768.jpg');
            &-content {
                padding: 0 36px;
            }
        }
        &__useful {
            margin-bottom: 66px;
            &-swiper-nav {
                top: 3px;
                right: 72px;
            }
            &-list {
                &-item {
                    &-description {
                        padding: 27px 37px 100px 30px;
                        &-btn {
                            bottom: 32px;
                            left: 30px;
                        }
                    }
                }
            }
        }
        &__contactus {
            margin-bottom: 42px;
            &-content {
                grid-template-columns: 1fr 187px;
            }
            &-img {
                width: unset;
                margin-top: 0;
                transform: translateY(-28px);
            }
            &-title {
                margin-bottom: 7px;
            }
            &-form {
                &-button {
                    margin-bottom: 13px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .main {
        &__front-banner {
            margin-bottom: 26px;
            position: relative;
            &-content {
                padding: 0;
            }
            &-slide {
                position: unset;
                padding: 31px 18px 21px;
                background-position: top center;
                background-size: 100% 65%;
                &:first-child {
                    background-image: url('../img/main-big-img-320.jpg');
                }
                &:nth-child(2) {
                    background-image: url('../img/main-big-img-second-320.jpg');
                }
                &:last-child {
                    background-image: url('../img/main-big-img-third-320.jpg');
                }
            }
            &-text {
                width: 250px;
                padding-left: 12px;
                margin-bottom: 158px;
                font-size: 20px;
                line-height: 27px;
            }
            &-btn {
                padding: 19px 97px;
                display: block;
                margin: 0 auto;
            }
        }
        &__special {
            padding-top: 23px;
            margin-bottom: 115px;
            &-list {
                &-item {
                    padding-top: 71px;
                    &-description {
                        bottom: 32px;
                        &-name {
                            margin-bottom: 22px;
                        }
                    }
                }
            }
            &-title {
                margin-bottom: 27px;
                line-height: 24px;
            }
            &-swiper {
                &-nav {
                    top: unset;
                    bottom: -48px;
                    right: 38%;
                }
            }
        }
        &__highrate {
            margin-bottom: 71px;
            &-title {
                margin-bottom: 25px;
            }
            &-list {
                margin-bottom: 31px;
                gap: 15px;
                &-item {
                    min-width: 140px;
                    padding-top: 54px;
                    min-height: 279px;
                    &-card {
                        height: unset;
                        display: block;
                    }
                    &-rate {
                        font-size: 12px;
                        top: 6px;
                        left: 14px;       
                        background-position: -30px -1px;             
                    }
                    &-img {
                        width: 108px;
                        height: 33px;
                    }
                    &-description {
                        width: 140px;
                        padding: 16px 16px 12px;
                        position: unset;
                        &-name {
                            margin-bottom: 18px;
                            &-link {
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                        &-price {
                            margin-bottom: 18px;
                        }
                        &-btn {
                            padding: 9px 25px;
                        }
                    }
                }
            }
        }
        &__middle-banner {
            background-image: url('../img/middle-big-img-320.jpg');
            position: relative;
            padding-top: 33px;
            padding-bottom: 0;
            background-position: top center;
            background-size: 100% 69.5%;
            &-description {
                width: 100%;
            }
            &-content {
                padding: 0 12px;
            }
            &-text {
                font-size: 24px;
            }
            &-smalltext {
                margin-bottom: 142px;
                width: 158px;
                line-height: 19px;
                font-size: 16px;
            }
            &-btn {
                padding: 19px 84px;
                display: block;
                margin: 0 auto;
            }
        }
        &__categories {
            margin-bottom: 75px;
            &-title {
                margin-bottom: 26px;
            }
            &-list {
                grid-column-gap: 17px;
                grid-template-rows: 332px 206px 206px;
                &-item {
                    &-types {
                        margin-bottom: 16px;
                        &-type {
                            margin-right: 21px;
                        }
                    }
                    &-title {
                        margin-bottom: 17px;
                    }
                    &-link {
                        color: rgba(0,0,0,0);
                    }
                    &:first-child {
                        padding: 29px;
                        .main__categories-list-item {
                            &-img {
                                width: 350px;
                                transform: translateX(-73px);
                            }
                            &-link {
                                top: 60px;
                                left: 43px;
                            }
                        }
                    }
                    &:not(:first-child) {
                        padding: 16px;
                        .main__categories-list-item {
                            &-img {
                                transform: translateX(-15px);
                                width: 152px;
                            }
                            &-title {
                                margin-bottom: 17px;
                                &-link {
                                    font-size: 16px;
                                }
                            }
                            &-types {
                                display: block;
                                margin-bottom: 6px;
                                &-type {
                                    margin-bottom: 2px;
                                    font-size: 10px;
                                }
                            }
                            &-link {
                                top: 43px;
                                right: 32px;
                                left: unset;                        
                            }
                        }
                    }
                    &:nth-child(4) {
                        .main__categories-list-item {
                            &-link {
                                right: 21px;
                                left: unset;
                                top: 60px;
                            }
                        }
                    }
                }
            }
        }
        &__useful {
            margin-bottom: 114px;
            &-title {
                margin-bottom: 25px;
            }
            &-swiper {
                &-nav {
                    bottom: -46px;
                    left: 38%;
                    top: unset;
                }
            }
        }
        &__contactus {
            margin-bottom: 70px;
            &-img {
                display: none;
            }
            &-content {
                display: block;
                &-text {
                    margin-bottom: 15px;
                }
            }
            &-form {
                &-checkbox {
                    font-size: 12px;
                    .checkbox__label {
                        padding-left: 20px;
                    }
                    .checkbox__span {
                        &::before {
                            width: 12px;
                            height: 12px;
                        }
                        &::after {
                            left: 5px;
                            top: 2px;
                        }
                    }
                }
                &-button {
                    margin-bottom: 11px;
                }
            }
            &-title {
                margin-bottom: 8px;
            }
        }
    }
}