@import '_variables.scss';
@import '_mixin.scss';
@import '_fonts.scss';

* {
    box-sizing: border-box;
}

body,
html {
    @include clearStyles;
    min-width: $minWidth;
    font-size: $fontSizeNormal;
    font-family: 'Open Sans', sans-serif;
    font-weight: $fontWeightNormal;
    background-color: $whiteColor;
    color: $blackColor;
}

.container {
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 50px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}