@mixin clearStyles {
    margin: 0;
    padding: 0;
}

@mixin stylesForLink {
    @include clearStyles();
    text-decoration: none;
}

@mixin stylesForList {
    @include clearStyles();
    list-style-type: none;
}

@mixin stylesForInput {
    @include clearStyles();
    border: none;
}

@mixin stylesForButton {
    @include clearStyles();
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@mixin stylesForTitle {
    @include clearStyles;
    font-weight: 400;
    font-size: 32px;
    color: $blackColor;
    @media only screen and (max-width: 768px) {
        font-size: 24px;
    }
}

@mixin buyButtonStyles {
    @include stylesForButton;
    padding: 17px 35px;
    border: 1px solid $primaryColor;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    color: $primaryColor;
    transition: color .2s ease, background .2s ease;
    &:hover {
        color: $whiteColor;
        background-color: $primaryColor;
    }
    &:focus {
        outline: none;
        color: $whiteColor;
        background-color: $primaryLightColor;
    }
    &:active {
        color: $whiteColor;
        background-color: $primaryShadeColor;
    }
    @media only screen and (max-width: 1366px) {
        padding: 17px 36px;
    }
}

@mixin stylesForMainButton {
    @include stylesForButton;
    border-radius: 10px;
    background-color: $primaryColor;
    font-weight: 700;
    color: $whiteColor;
    transition: background .2s ease, border .2s ease;
    border: 2px solid $primaryColor;
    &:hover {
        background-color: $primaryLightColor;
    }
    &:focus {
        outline: none;
        border-color: $primaryShadeColor;
    }
    &:active {
        background-color: $primaryShadeColor;
    }
    @media only screen and (max-width: 1366px) {
        padding: 19px 49px;
    }
}

@mixin stylesForBtnArrow {
    @include stylesForButton;
    width: 32px;
    height: 32px;
    border: 2px solid $primaryColor;
    border-radius: 50%;
    transition: background .2s ease;
    &:hover {
        background-color: $primaryColor;
        &::before {
            border-color: $whiteColor;
        }
    }
    &:focus {
        outline: none;
        background-color: $primaryLightColor;
        &::before {
            border-color: $whiteColor;
        }
    }
    &:active {
        background-color: $primaryShadeColor;
        border-color: $primaryShadeColor;
    }
    &::before {
        content: '';
        position: absolute;
        top: 10px;
        right: 11px;
        width: 7px;
        height: 7px;
        border-top: 2px solid $primaryColor;
        border-right: 2px solid $primaryColor;
        transform: rotate(45deg);
        transition: border .2s ease;
    }
    &.swiper-button-disabled {
        border-color: $greyColor;
        cursor: unset;
        &::before {
            border-color: $greyColor;
        }
        &:hover {
            background-color: unset;
            &::before {
                border-color: $greyColor;
            }
        }
        &:focus {
            background-color: unset;
            &::before {
                border-color: $greyColor;
            }
        }
        &:active {
            background-color: unset;
            border-color: $greyColor;
        }
    }
}

@mixin stylesForMainInput {
    @include stylesForInput();
    border: 2px solid $greyLightColor;
    color: $blackColor;
    background-color: $greyLightColor;
    transition: background .2s ease;
    &:hover {
        background-color: $mdGreyColor;
    }
    &:focus {
        outline: none;
        background-color: $pinkLightColor;
        border-color: $primaryColor;
    }
    &::placeholder {
        color: $greyColor;
    }
}

@mixin stylesForMainLink {
    @include stylesForLink;
    color: $greyColor;
    transition: color .2s ease, background .2s ease;
    &:hover {
        color: $primaryColor;
    }
    &:active {
        color: $primaryShadeColor;
        background-color: unset;
    }
    &:focus {
        outline: none;
        background-color: $pinkVioletColor;
        color: $primaryShadeColor;
    }
}

@mixin stylesForCheckbox {
    display: block;
    cursor: pointer;
    &.checkbox__label {
        position: relative;
        display: inline-block;
        padding-left: 22px;
    }
    .checkbox {
        position: absolute;
        opacity: 0;
    }
    .checkbox__span {
        display: flex;
        align-items: center;
        border-radius: 2px;
    }
    .checkbox__span::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid $greyColor;
        border-radius: 2px;
    }
    .checkbox__span::after {
        content: '';
        position: absolute;
        left: 6px;
        top: 3px;
        width: 3px;
        height: 6px;
        border: solid $whiteColor;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: border .2s ease-in-out, opacity .2s ease-in-out;
        opacity: 0;
    }
    .checkbox:checked + .checkbox__span::before {
        border-color: $primaryColor;
        background-color: $primaryColor;
    }
    .checkbox:checked + .checkbox__span::after {
        opacity: 1;
    }
    .checkbox__span:hover {
        outline: 1px solid $primaryColor;
    }
    .checkbox:focus + .checkbox__span {
        outline: 1px solid $primaryColor;
    }
}

@mixin stylesForCards {
    padding-top: 75px;
    position: relative;
    background-color: $greyLightColor;
    border-radius: 10px;
    text-align: center;
    &-rate {
        position: absolute;
        text-align: center;
        top: 16px;
        left: 30px;
        padding-left: 22px;
        background-image: url('../img/sprite.svg#rate');
        background-size: 200%;
        background-position: -37px 2px;
        background-repeat: no-repeat;
        color: $secondaryColor;
    }
    &-description {
        width: 237px;
        position: absolute;
        bottom: 29px;
        left: 30px;
        text-align: left;
        &-name {
            @include clearStyles;
            margin-bottom: 23px;
            &-link {
                @include stylesForLink;
                color: $blackColor;
                font-size: 24px;
                line-height: 31px;
                font-weight: normal;
            }
        }
        &-price {
            @include clearStyles;
            margin-bottom: 25px;
            font-size: 16px;
            color: $greyShadeColor;
        }
        &-btn {
            @include buyButtonStyles;
        }
    }
    &-card {
        height: 118px;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }
}

@mixin stylesForArrow {
    @include stylesForLink;
    display: inline-block;
    font-weight: 700;
    color: $primaryColor;
    position: relative;
    &::before {
        content: '';
        width: 0%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        transition: background .2s ease, width .2s ease, color .2s ease;
    }
    &:hover {
        .link-arrow {
            background-color: $primaryColor;
            &::before {
                border-color: $whiteColor;
            }
        }
        &::before {
            background-color: $primaryColor;
            width: 75%;
        }
    }
    &:active {
        .link-arrow {
            background-color: $primaryShadeColor;
            border-color: $primaryShadeColor;
        }
        &::before {
            background-color: $primaryShadeColor;
            color: $primaryShadeColor;
            width: 75%;
        }
    }
    &:focus {
        .link-arrow {
            outline: none;
            background-color: $primaryLightColor;
            &::before {
                border-color: $whiteColor;
            }
        }
    }
    .link-arrow {
        @include stylesForBtnArrow;
        position: relative;
        display: inline-block;
        transform: translateY(5px);
        width: 22px;
        height: 22px;
        &::before {
            top: 6px;
            right: 6px;
            width: 5px;
            height: 5px;
        }
    }
}