$greyColor: #999;
$greyLightColor: #F6F6F6;
$greyShadeColor: #666;
$whiteColor: #FFF;
$blackColor: #333;
$secondaryColor: #FF862F;
$secondaryLightColor: #FFBD59;
$primaryColor: #A65CF0;
$primaryLightColor: #C998FB;
$pinkVioletColor: #EBD1FF;
$pinkLightColor: #F8EFFF;
$primaryShadeColor: #7033AC;
$boneColor: #FFF5D1;
$secondaryShadeColor: #BB370E;
$mdGreyColor: #EAEAEA;
$goldColor: #D5B986;
$redInputColor: #FF6972;
$greenInputColor: #B8EC64;

$containerWidth: 1380px;
$minWidth: 320px;
$fontSizeNormal: 16px;
$fontWeightNormal: 400;